.edit-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-area{
    width: 610px;
    height: 88px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.about-foto-area{
  width: 265px;
}

#website{
    width: 610px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid rgba(219, 223, 228, 1);
    padding-left: 10px;
}
#website:focus {
    outline: 2px solid rgb(192, 139, 181); 
  }

#about{
    width: 610px;
    height: 62px;
    border-radius: 12px;
    border: 1px solid rgba(219, 223, 228, 1);
    padding-left: 10px;
}
#about:focus {
    outline: 2px solid rgb(192, 139, 181); 
  }

.btn-edit-profile{
    width: 286px;
    height: 32px;
    background-color: rgba(0, 149, 246, 1);
   color:rgba(255, 255, 255, 1);
   font-weight: 600;
   margin-top: 67px;
   border: none;
   border-radius: 8px;
}

.btn-edit-profile:hover {
    background-color: rgba(0, 120, 200, 1); 
  }

.edit-profile-label{
    font-weight: 700;
}


.hidden-file-input {
    display: none; 
  }
  
  .custom-file-upload {
    width: 114px;
    height: 32px;
    background-color: rgba(0, 149, 246, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px; 
    margin-right: 40px;
  }
  
  .custom-file-upload:hover {
    background-color: rgba(0, 120, 200, 1); 
  }



  .profile-img {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    border-radius: 50%; 
    object-fit: cover; 
  }