.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:350px ;
    height: 412px;
    border: 1px solid rgba(219, 219, 219, 1);
    margin-bottom: 10px;
}

.login-btn{
    width: 268px;
    height: 32px;
    background-color: rgba(0, 149, 246, 1);
   color:rgba(255, 255, 255, 1);
   font-weight: 600;
   margin-top: 67px;
   border: none;
   border-radius: 8px;
}

.login-input{
    width: 268px;
    height: 38px;
    border: 1px solid rgba(219, 219, 219, 1);
}

.login-input:focus {
    outline: 2px solid rgb(192, 139, 181); 
  }
.register-link{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 63px;
    border: 1px solid rgba(219, 219, 219, 1);
}


.sign-up-link{
 color: #0095F6;
cursor: pointer;
padding: 0;
font-size: 16px;
font-weight: 600;
font-family: inherit;
margin-left: 10px;
}