.post-modal{
    display:flex;
    gap: 20px;
    justify-content: center;
}
.post-header{
    margin-bottom: 10px;
}
.post-profile{
    display: flex;
    gap: 20px;
    align-items: center; 

}


.follow-button{
    background: none;
        border: none;
        color: #0095F6;
        cursor: pointer;
        padding: 0;
        font-size: 16px;
        font-weight: 600;
        font-family: inherit;
        margin-left: 20px;
      }
      
      .custom-follow-button:hover {
        color: darkblue;
        
      }
      
      .custom-follow-button:focus {
        outline: none;
  }

  .header-line{
    width: 260px;
    height: 1px;
    background-color:  rgba(239, 239, 239, 1);;
  }
 

  .logo-data{
    margin-top: 40px;
    display: flex;
    align-items: center; 
    width: 260px;
    gap: 10px;
  }


  .comment-user-info{
    margin-top: 10px;
    display: flex;
    align-items: center; 
    gap: 10px;
  }
  
  .post {
    display: flex;
    align-items: flex-start;
    width: 260px;
    margin-top: 20px;
  }
  
  .profile-pic {
    margin-right: 10px;
  }
  
  .post-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 540px;
  }
  
  .username {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .text {
    word-wrap: break-word;
    flex: 1;
  }
  
  .post-right {
    position: relative; 
    width: 100%;
    max-width: 300px; 
    height: 505px; 
    
    /* padding: 20px;
    box-sizing: border-box;
    overflow: hidden;*/
  }
  
  /* .content {
    height: calc(100% - 70px); 
    overflow-y: auto; 
  } */
  
  .bottom-elements {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    
    border-top: 1px solid #ccc; 
    display: flex;
    gap: 10px; 
    align-items: flex-end; 
  }
  
  textarea {
    flex: 1; 
    resize: none; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .botton-btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background: none;
        border: none;
        color: #0095F6;
        padding: 0;
        font-size: 16px;
        font-weight: 600;
        font-family: inherit;
  }
  