.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px ;
    height: 600px;
    border: 1px solid rgba(219, 219, 219, 1);
    margin-bottom: 10px;
}

.register-promo-text{
    color: rgba(115, 115, 115, 1);
    font-size: 16px;
    width: 255px;
    text-align: center;
}

.register-input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 26px;
}
.register-input{
    width: 268px;
    height: 38px;
    border: 1px solid rgba(219, 219, 219, 1);
    
}

.register-input:focus {
    outline: 2px solid rgb(192, 139, 181); 
  }

.info-btn-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 268px;
    gap: 16px;
}

.info-btn-area h5 {
    margin: 0;
    padding: 5px 0; 
    text-align: center; 
    color: rgba(115, 115, 115, 1);
    font-size: 12px;
}
.highlight {
    color: #0095F6; 
    cursor: pointer;
}

.register-btn{
    width: 268px;
    height: 32px;
    background-color: rgba(0, 149, 246, 1);
   color:rgba(255, 255, 255, 1);
   font-weight: 600;
   border: none;
   border-radius: 8px;
}



.login-link-area{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 63px;
    border: 1px solid rgba(219, 219, 219, 1);
}
.login-link-area h4{
    font-size: 14px;
    font-weight: 400;
}

.login-link{
    color: #0095F6;
   cursor: pointer;
   padding: 0;
   font-size: 16px;
   font-weight: 600;
   font-family: inherit;
   margin-left: 10px;
   }