
.app-container {
  display: flex;
  height: 100vh;
  flex-direction: row; 
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  flex-shrink: 0; 
  position: fixed; 
  z-index: 10; 
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 550px; /* Сдвигаем контент вправо, чтобы он не перекрывал основной сайдбар */
  display: flex;
  justify-content: center; /* Центрируем контент */
  align-items: center; /* Выравнивание по центру по вертикали */
  height: 100vh; 
}

.overlay-sidebar {
  position: fixed;
  top: 0;
  left: 250px; 
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 5; 
}

.overlay-sidebar.open {
  transform: translateX(250px); 
}

.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 0; 
}

.overlay-backdrop.show {
  opacity: 1;
  visibility: visible;
}
